* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #F0F0F3;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #F0F0F3;
  overflow: hidden;
}

main .calculate {
  position: absolute;
  left: calc(50% - 180px);
  top: calc(50% - 376px);
  width: 360px;
  height: 752px;
  background: linear-gradient(145.27deg, #2E2C2C -4.62%, #0B0A0A 64.58%);
  margin: 0 auto;
  border-radius: 16px;
  z-index: 5;
  -webkit-box-shadow: -10px -10px 24px rgba(255, 255, 255, 0.6), 10px 10px 24px rgba(174, 174, 192, 0.2);
          box-shadow: -10px -10px 24px rgba(255, 255, 255, 0.6), 10px 10px 24px rgba(174, 174, 192, 0.2);
}

main .calculate .calculate__display {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 260px;
  vertical-align: bottom;
  text-align: right;
}

main .calculate .calculate__display--operation {
  position: absolute;
  bottom: 75px;
  right: 30px;
  margin: 0;
  font-size: 40px;
  color: #728AB7;
  opacity: 0.65;
}

main .calculate .calculate__display--result {
  position: absolute;
  top: 36px;
  right: 30px;
  margin: 0;
  font-size: 60px;
  color: #F2F2F4;
  opacity: 0.2;
}

main .calculate .calculate__display--number {
  position: absolute;
  bottom: 5px;
  right: 30px;
  margin: 0;
  font-size: 40px;
  color: #F2F2F4;
}

main .calculate .calculate__body {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding-left: 9%;
  padding-top: 15%;
  height: 493px;
  background-color: #F0F0F3;
  border-radius: 12px;
  grid-column-gap: 19.76px;
  grid-row-gap: 24px;
  -ms-grid-columns: 60px 60px 60px 60px;
      grid-template-columns: 60px 60px 60px 60px;
  -ms-grid-rows: 60px 60px 60px 60px 60px;
      grid-template-rows: 60px 60px 60px 60px 60px;
}

main .calculate .calculate__body::before {
  position: absolute;
  content: '';
  left: calc(50% - 60px);
  top: 4%;
  width: 120px;
  height: 8px;
  background: #F0F0F3;
  -webkit-box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
          box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  border-radius: 12px;
}

main .calculate .calculate__body::after {
  position: absolute;
  content: '';
  left: calc(50% - 60px);
  top: 4%;
  width: 120px;
  height: 8px;
  border: 2px;
  background: #EEEEEE;
  -webkit-box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 2px rgba(174, 174, 192, 0.2);
          box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 2px rgba(174, 174, 192, 0.2);
  border-radius: 12px;
}

main .calculate .button {
  height: 60px;
  width: 60px;
  font-size: 30px;
  font-weight: bold;
  background-color: #F0F0F3;
  border: none;
  -webkit-box-shadow: -10px -10px 24px rgba(255, 255, 255, 0.6), 10px 10px 24px rgba(174, 174, 192, 0.2);
          box-shadow: -10px -10px 24px rgba(255, 255, 255, 0.6), 10px 10px 24px rgba(174, 174, 192, 0.2);
  border-radius: 16px;
}

main .calculate .button--doublesize {
  padding-left: 25px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  width: 135px;
  text-align: left;
}

main .calculate .button--number {
  color: #728AB7;
}

main .calculate .button--operation {
  color: #745FF2;
}

main .calculate .button--logic__operation {
  color: #898989;
}

main .calculate .button--result {
  background-color: #2DD3C5;
  color: #F0F0F3;
}

main .small-rectangle {
  position: absolute;
  height: 240px;
  width: 200px;
  left: calc(50% - 630px);
  top: calc(50% - 360px);
  background: #F0F0F3;
  -webkit-box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 25px;
}

main .square {
  position: absolute;
  width: 311.5px;
  height: 311.5px;
  right: calc(50% - 650px);
  top: calc(50% - 460px);
  background: #F0F0F3;
  -webkit-box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
          box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 12px;
}

main .large-circle {
  position: absolute;
  width: 342px;
  height: 342px;
  left: 300px;
  top: 75%;
  border-radius: 50%;
  background: #F0F0F3;
  -webkit-box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
          box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
}

main .small-circle {
  position: absolute;
  width: 250px;
  height: 250px;
  right: calc(50% - 646px);
  bottom: calc(50% - 447px);
  border-radius: 50%;
  background: #F0F0F3;
  -webkit-box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
          box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
}

main .left-bubles {
  height: 224px;
  width: 130px;
  position: absolute;
  left: calc(50% - 234px);
  top: calc(50% - 459px);
}

main .right-bubles {
  height: 224px;
  width: 130px;
  position: absolute;
  right: calc(50% - 260px);
  bottom: calc(50% - 295px);
}
/*# sourceMappingURL=main.css.map */